label Название
  input(type="text", placeholder="Название", value=`${cleaner.cleaner}` required).form__input#cleanerName
label Описание
  textarea(name="Description", cols="30", rows="3").form__text-area#description= cleaner.description
p Галерея
ul.form__gallery.gallery#gallery
  each image, i in cleaner.images
    li.gallery__item
      img(src=`${image}`, alt="", id=`image_${i}`).image.image-preview
      label
        input(type="button" id=`delete-image_${i}` value="Удалить").form__button.centered
p Предпросмотр
ul.form__gallery.gallery#preview
label.form__images Загрузите изображения
  input(type="file" accept="image/png, image/jpeg" multiple)#images
p Услуги
  ul.form__service-list.service-list#servicesList
    if cleaner.services
      each service, i in cleaner.services
        li(id=`item_${i}`).service-list__item.item
          label Услуга
            p(id= 'service_' + i).item__param.service= service.service
          label Тип услуги
            p(id= 'type_' + i).item__param.type= service.type
          label Стоимость
            p(id= 'cost_' + i).item__param.cost= service.cost
          label
            input(type="button", value="Редактировать" id= 'update_' + i).item__button.update
          label
            input(type="button", value="Удалить" id= 'delete_' + i).item__button.delete
    li.service-list__item.item#creationLi
      label Услуга
        input(type="text").item__param#service
      label Тип услуги
        input(type="text").item__param#serviceType
      label Стоимость
        input(type="number").item__param#cost
      label
        input(type="button", value="Добавить услугу").item__button#addService

